/***index.php***/
#project_header {
    text-align:center;
    color:#FFF;
}
#project_content {
    width: 325px;
    height: 325px;
    background-color: #efede3;
    margin: 30px;
    float:left;
    text-shadow:1px 1px #605149;
}
/***add_project.php***/
#add_project_content {
    border:2px solid black;
}

.project {
    height:200px;
    width:200px;
    background-color:cadet blue;
    border:1px solid black;
    margin:10px;
}

/* Main events */

.error {
    color:red;
}

.hide {
    display:none;
}
.show, .error .hide  {
    display:inline-block;
}