
/***contacts/index.php***/




/***add_contact.php***/
#add_contact_content {
    border:2px solid black;
}
/***
.contact {
        height:200px;
        width:200px;
        background-color:cadet blue;
        border:1px solid black;
        margin:10px;
}***/

/* Main events */

.error {
    color:red;
}

.hide {
    display:none;
}
.show, .error .hide  {
    display:inline-block;
}